.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 385.6px;
  height: 139.2px
}

.overlay-text {
  position: absolute;
  font: 30px Georgia;
  top: 68%;
  left: 55%;
  transform: translate(-65%, -50%);
  background-color: #c9daf8ff;
  color: #0b5394;
  padding: 10px 20px;
  text-align: center;
}
