.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 375px;
  height: 135px
}

.overlay-text {
  position: absolute;
  font: 25px Georgia;
  top: 60%;
  left: 50%;
  transform: translate(-65%, -50%);
  background-color: #c9daf8ff;
  color: #0b5394;
  padding: 10px 20px;
  text-align: center;
} 
