<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content = "wide=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
</head>
<body text-align = "center" style = "background-color:#a4c2f4ff">
    <div class = "image-container">
    <img src = "{{url_for('static', filename='thing.jpeg')}}" alt = "thing">
        <div class = "overlay-text">
            <b> {{current}}</b>
        </div>

    </div>
</body>
</html>
